<!DOCTYPE html>
<html>
    <head>
        <title>Home Page | Sahinotes</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/home.css"/>
    </head>
    <body>
        <%-include('_header')%>
        <h1>Sahinotes</h1>
        <%-include('_footer')%>
        <script type="text/javascript" src="../assets/js/home.js"></script>
    </body>
</html>