<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page | Sahinotes</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/profile.css"/>
    </head>
    <body>
        <%-include('_header')%>

        <h1>Welcome Coding Ninjas</h1>
        <button id="logout">Logout</button>
        <%-include('_footer')%>
        <script>
            var user_id = <%= user_id %>            
        </script>
        <script type="text/javascript" src="../assets/js/profile.js"></script>
    </body>
</html>