<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page | Sahinotes</title>
        <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
    </head>
    <body>
        <%-include('_header')%>
        <!-- <p id="user_id" style="display: none;"><%=locals.user_id%></p> -->
        <h1>Welcome Coding Ninjas</h1>
        <button id="logout">Logout</button>
        <button id="mobile_verify">Mobile Verify</button>
        <%-include('_footer')%>
        <script type="text/javascript" src="/js/profile.js"></script>
    </body>
</html>