<!DOCTYPE html>
<html>
    <head>
        <title>Signin Page | Sahinotes</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/signin.css"/>
    </head>
    <body>
        <%-include('_header')%>
        <h1>Signin Page</h1>
        <%-include('_footer')%>
        <script type="text/javascript" src="../assets/js/signin.js"></script>
    </body>
</html>