<!DOCTYPE html>
<html>
    <head>
        <title>Signup Page | Sahinotes</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/signup.css"/>
    </head>
    <body>
        <%-include('_header')%>
        <h1>Signup Page</h1>
        <form action="/users/auth/create-user" method="POST">
            <label for="name">Your name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Your email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Your password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="confirm_password">Confirm your password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password"><br>
            <input type="submit" value="Signup">
        </form>
        <%-include('_footer')%>
        <script type="text/javascript" src="/js/signup.js"></script>
    </body>
</html>